@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#05030a] text-white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Segoe UI", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #05030a;
}
::-webkit-scrollbar-thumb {
  background: #2b2339;
  border-radius: 999px;
}
