@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#05030a] text-white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Segoe UI", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #05030a;
}
::-webkit-scrollbar-thumb {
  background: #2b2339;
  border-radius: 999px;
}
/* Animation de la bulle qui tourne autour de BAWON */
@keyframes bawon-orbit {
  0% {
    transform: rotate(0deg) translateX(70px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(70px) rotate(-360deg);
  }
}

.bawon-orbit-dot {
  animation: bawon-orbit 10s linear infinite;
  transform-origin: center center;
}
